<?xml version="1.0"?>
<launch>
    <!-- VNIR HSI, SWIR HSI, Pansharpening RGB -->
    <include file="$(find hyper_drive)/launch/synchronousCameras.launch">   
    </include> 
    <!-- Start HSI Processor -->
    <!-- Point Spectrometers -->
    <include file="$(find spectrometer_drivers)/launch/ibsen.launch">
    <!-- Fiber Optic IMU -->
    <include file="$(find kvh_driver)/launch/master.launch"/>         
    <!-- <node pkg="rosbag" type="record" name="rosbag_record_cam"
          args="record -O cam_imgs /camera/image_raw /ximea/raw_data /imec/raw_data" /> -->
</launch>